<div id="input" *ngIf="!addNewPat">
    <button type="submit" (click)="addPatients()">Add new Patient</button>
</div>
<div *ngIf="addNewPat">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div>
            <label>Patient ID</label>
            <input type="text"  placeholder="Enter Patient ID" formControlName="PatientId">
            <br><br>
            <label>First Name</label>
            <input type="text"  placeholder="Enter First Name" formControlName="FirstName">
            <br><br>
            <label>Second Name</label>
            <input type="text"  placeholder="Enter Second Name" formControlName="SecondName">
            <br><br>
            <label>DOB</label>
            <input type="text"  placeholder="Enter DOB" formControlName="DOB">
            <br><br>
            <label>SSN</label>
            <input type="text" placeholder="Enter SSN" formControlName="SSN">
            <br><br>
            <label>email</label>
            <input type="text"  placeholder="Enter email" formControlName="email">
            <br><br>
            
        </div>
        <button type="submit" >Submit</button>
    </form>
</div>
<h4>List of Patients</h4>
<div class="grid-container" *ngIf="patList!=null">
    <div *ngFor="let i of patList">
        <div class="card" *ngIf="i.isDeleted==false">
            <div class="container">
                <p>ID:{{i.patientId}}</p>
                <p>Name:{{i.firstName}} {{i.lastName}}</p>
                <p>DOB:{{i.dob}}</p>
                <p>SSN:{{i.ssn}}</p>
                <p>email:{{i.email}}</p>
                <button (click)="Delete(i)">Delete</button>
            </div>
        </div>
    </div>
</div>